
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #440092;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #440092;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #440092;
    transform: scale(1.05);
    transition: .2s;
}

/* ESTILO DO CABEÇALHO */
header.rolagem{
    background-color: #000000;
    padding: 20px 4%;
    top: 0px;
    width: 100%;
    height: 200px;
    z-index: 1;
}

header.rolagem a{
    color: #fff;
}

header{
    padding: 20px 4%;
    width: 100%;
    position: fixed;
    transition: .5s;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgba(255, 255, 255, 0.096);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 200px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #440092;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILOS DAS ESPECIALIDADES*/
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff28;

}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #440092;
}   

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
}

/* ESTILO DO SOBRE*/
section.sobre{
    padding: 40px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #440092;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #440092;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* Estilo do portfólio */
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    border-radius: 40px;
    position: relative;
    cursor: default;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transition: .5s;
    background-color: #ffffff00;
}

.overlay:hover{
    opacity: 1;
}


/* estilo rodapé */
footer{
    padding: 40px 4%;
}

footer .flex{
    justify-content: space-between;
}

.borda{
    border-top: 2px solid #440092;
}

footer .line-footer{
    padding: 20px 0;
}

footer .line-footer p i{
    color: #440092;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}


/* dor. */
@media screen and (max-width: 600px){
    /*classes gerais*/
    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        line-height: 30px;
        font-size: 30px;
    }

    /*cabeça*/
        menu-desktop, .btn-contato{
        display: none;
    }

    /*topo site*/
    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site .h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* especialidades */
    section.especialidades{
        padding: 40px 8%;
    }   

    /* sobre */
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 45px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* portfolio */
    section.portfolio{
        padding: 80px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    /* pézinho */
    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer{
        text-align: center;
    }

}